{% if link %}
	<a href="{{ link }}">
{% endif %}
<div class="card card-container mx-sm-1 p-3">
	<div class="card shadow p-3 logo">
		<span class="{{ awesomeLogo }}" aria-hidden="true"></span>
	</div>

	{% if title %}
	<div class="text-center mt-4">
		<h1>{{ title }}</h1>
	</div>
	{% endif %}

	{% if subtitle %}
	<div class="text-center mt-2">
		<h3>{{ subtitle }}</h3>
	</div>
	{% endif %}

	{% if text %}
	<div class="text-center mt-2">
		<p>{{ text }}</p>
	</div>
	{% endif %}

	{% block cardContent %}
	{% endblock cardContent %}
</div>
{% if link %}
</a>
{% endif %}
