	<!-- Scripts -->
	{% if lateScriptsCdn %}
		{% for spt in lateScriptsCdn %}
	<script src="{{spt}}"></script>
		{% endfor %}
	{% endif %}
	{% if lateScripts %}
		{% for spt in lateScripts %}
	<script src="{{ url_for('static', filename='js/' + spt) }}"></script>
		{% endfor %}
	{% endif %}
	{% if bpScripts %}
		{% for spt in bpScripts %}
	<script src="{{ url_for( '.static', filename=spt) }}"></script>
		{% endfor %}
	{% endif %}
