<head>
    <meta charset="UTF-8">
    <!-- If IE use the latest rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Set the page to the width of the device and set the zoom level -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MayISmoke</title>
    <link rel="shortcut icon" type="image/svg" href="{{ url_for('static', filename='img/logo.svg') }}"/>

	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<!-- Bootstrap JS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!-- Bootstrap JS Bundle -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>	
	<!-- Font awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
	<!-- Own css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
	{% if specificCss %}
		{% for css in specificCss %}
	<link rel="stylesheet" type"text/css" href="{{ url_for('static', filename='css/' + css) }}"/>
		{% endfor %}
	{% endif %}
	<!-- Early scripts -->
	{% if earlyScripts %}
		{% for spt in earlyScripts %}
	<script src="{{ url_for('static', filename='js/' + spt) }}"></script>
		{% endfor %}
	{% endif %}
	{% if earlyScriptsCdn %}
		{% for spt in earlyScriptsCdn %}
	<script src="{{ spt }}"></script>
		{% endfor %}
	{% endif %}
</head>
