<!DOCTYPE html>
<html lang="en">

{% include "common/header.html" %}

<body class="text-white">
	<div class="container {% if pageCentered%} container-centered {% endif %}">
		{% block content %}
		{% endblock content %}
	</div> <!-- Main container -->

{% include "common/footer.html" %}

</body>
</html> 
