{% set earlyScriptsCdn=["https://cdn.jsdelivr.net/npm/chart.js@2.8.0"] %}

{% extends "common/wrapper.html" %}
{% block content %}

	<div class="row">
		<div class="col-md-8 offset-md-2">
			{% with 
				chartId="daily-cigs",
				awesomeLogo="fas fa-smoking",
				data=dataDaily,
				subtitle="Daily consumption",
				text="In number, lower is better",
				chartType="bar"
			%}
				{% include "stats/chart.html"%}
			{% endwith %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 offset-md-2">
			{% with 
				chartId="actual-vs-target",
				awesomeLogo="fas fa-bullseye",
				data=dataActualVsTarget,
				subtitle="Actual time versus target",
				text="In minutes, higher is better",
				chartType="line",
				ySteps=10
			%}
				{% include "stats/chart.html"%}
			{% endwith %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 offset-md-2">
			{% with 
				chartId="maturity-evol",
				awesomeLogo="fas fa-stopwatch-20",
				data=dataMaturityEvol,
				subtitle="Evolution of stopwatches",
				text="In minutes, higher is better",
				chartType="bar",
				ySteps=20
			%}
				{% include "stats/chart.html"%}
			{% endwith %}
		</div>
	</div>
{% endblock content %}
{% include "common/return_row.html" %}
