<!-- data for javascript -->
<span id="maturity" style="display: none">{{maturity}}</span>

{% extends "common/card.html" %}
{% block cardContent %}
	<div class="mt-4">
	</div>
	<div class="mt-4 progress">
		<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="progress-bar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
			<span id="time-remaining">00:00:00</span>
		</div>
	</div>
	<div class="text-center mt-4">
		<span id="next-maturity" value="{{nextMaturity}}">
			Next maturity not set
		</span>
		<a href="/reverse" data-toggle="tooltip" data-placement="top" title="Delete the last cigarette smoked">
			<span class="float-right fas fa-trash-alt" style="color: #B84E4C; margin-right: 0.5rem;"></span>
		</a>
	</div>
{% endblock cardContent %}
