{% set pageCentered = True %}
{% if nextMaturity and maturity %}
	{% set lateScripts=["countdown.js"] %}
{% endif %}

{% extends "common/wrapper.html" %}

{# template's variables #}

{% block content %}
	<div class="row">
        <div class="col-md-4">
			{% with
				awesomeLogo="fas fa-chart-pie",
				title="Stats",
				link="/stats"
			%}
				{% include "common/card.html" %}
			{% endwith %}
		</div>
        <div class="col-md-4">
			{% with
				awesomeLogo="fas fa-smoking", 
				title="I smoked",
				link="/smoked"
			%}
				{% include "common/card.html" %}
			{% endwith %}
		</div>
        <div class="col-md-4">
			{% with 
				awesomeLogo="fas fa-stopwatch-20",
				title="Set countdown",
				text="Current: " + maturity|string, 
				link="/setmaturity"
			%}
				{% include "common/card.html" %}
			{% endwith %}
		</div>

	</div>

	<div class="row">
        <div class="col-md-12">
			{% with
				awesomeLogo="fas fa-spinner",
				title="Progress"
			%}
				{% include "journals/card_progress.html" %}
			{% endwith %}
		</div>
	</div>

{% endblock content %}
