{% set pageCentered = True %}

{% extends "common/wrapper.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		{% include "journals/maturity_form.html" %}
	</div> <!-- col -->
</div> <!-- Row -->
{% endblock content %}
{% include "common/return_row.html" %}
