{% set awesomeLogo = "fas fa-stopwatch-20" %}
{% extends "common/card.html" %}
{% block cardContent %}
		<div class="text-center mt-4">
			<h1>Set countdown</h1>
			{% if maturity %}
				<small id="maturity">Current: {{maturity}}</small>
			{% endif %}
		</div>

		<div class="mt-4 mb-4 mx-auto">
			<form class="mx-auto form-inline" method="POST" action="" role="form">
				{{ maturityForm.csrf_token }}
				<div class="form-group mr-2">
				{{ maturityForm.hours(min="0", class_="form-control") }}
				</div>
				<div class="form-group mr-2">
				{{ maturityForm.hours.label }}
				</div>
				<div class="form-group mr-2">
				{{ maturityForm.minutes(min="0", class_="form-control") }}
				</div>
				<div class="form-group mr-4">
				{{ maturityForm.minutes.label }}
				</div>
				<div class="form-group">
				<button type="submit" class="btn btn-primary" value="maturityForm">Submit</button>
				</div>
			</form>
		</div>
{% endblock cardContent %}
