body {
	background-color: #455262;
}

@media only screen 
and (min-width : 1224px) {
	.container-centered {
	  /* color: white; */
	  padding: 15px;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -ms-transform: translateX(-50%) translateY(-50%);
	  -webkit-transform: translate(-50%,-50%);
	  transform: translate(-50%,-50%);
	}
}

a {
	color:inherit;
}

a:hover {
	color: inherit;
}

span {
	/* color: inherit !important; */
}

.row {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.btn-primary {
	/* background-color: #455262; */
	background-color: white;
	/* color: #A4BAC0; */
	color: #455262;
	border-color: white;
}

.btn-primary:hover {
	background-color: #455262;
	color: white;
	border-color: #455262;
}

.card-container {
	background-color: #A4BAC0;
	height: 100%; 
	color: #455262;
}

.card .logo
{
    position:absolute;
    top:-20px;
    border-radius:50%;
	color: #455262;
	/* color: #A4BAC0; */
}

.card .progress {
	position: relative;
	height: 3rem;
}

.card .progress span {
	position: absolute;
	display: block;
	width: 100%;
}

.card .progress-bar {
	background-color: #6A9A70 !important;
}
